<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlink.dao.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tlink.mode.user.UserVo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="motto" column="motto" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
            <result property="grade" column="grade" jdbcType="INTEGER"/>
            <result property="feature" column="feature" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="timestamp" column="timestamp" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,email,
        gender,motto,name,
        code,telephone,
        grade,feature,state,
        timestamp
    </sql>

    <select id="checkAccount" resultType="java.lang.Long">
        select 1 from t_lvxin_user where account = #{account} limit 1
    </select>
</mapper>
